html, body{
  overflow-x:hidden;
  font: 400 1em/1 "Droid Sans";
  text-align: center;
  width:100%;
  height:99.9%;
  min-width: 400px;
  min-height: 400px;
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font:  400 2em/1 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 1.5em 0 0.3em;
}

h2 {
  text-align:left;
  font: 400 0.75em/1 'Roboto', sans-serif;
  margin: 0 0 0;
  width:5%;
  color:#fff;

  padding:20px;
  border-left:4px solid rgba(255,255,255, .1);
  background:rgba(0,0,0, .5);
}

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
  margin-right: 0.3em;
}

.fontawesome-email a{
  display:inline;
  padding:0 5px;
  font-size:20px;
}

.fbook i:hover {
  color: #3b5998;
  text-decoration: none;
}


.insta i:hover {
  color: #517fa4;
  text-decoration: none;
}

.twitt i:hover {
  color: #00aced;
  text-decoration: none;
}

.lin i:hover {
  color: #007bb6;
  text-decoration: none;
}

.email i:hover {
  color: #FAAF3A;
  text-decoration: none;
}

main{
  max-width: 1020px;
  height:200px;
  margin: 0 auto;
  *zoom: 1;
  text-align: center;
  position: relative;
}

.portrait {

  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
  filter: grayscale(100%) opacity(0.7);
}

.portrait:hover {
  filter: grayscale(0) opacity(1);
  border-radius: 0;
}

.portrait-details {
  cursor: text;
  position: absolute;
  list-style-type: none;
  margin-top: 200px;
  margin-left: -.5px;
  padding: 5px;
  height: 360px;
  width:191px;
  background: rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in-out;
  border-bottom:2px solid rgba(0,200,255,.5);
}

.title {
    text-transform:uppercase;
  background:rgba(0,200,255,.5);
}

@media all and (max-width: 64em) {
  .portrait-details {
    white-space: normal;
    min-width: 150px;
    opacity:0;
    visibility:hidden;
      }
 }

.portrait-details li {
  color: #fff;
  line-height:.5rem;
  padding: 0.3em 1.9em;
  font: 400 0.8em/1 'Roboto', serif;
}

p {
  font-size: .94em;
  line-height: 1.25em;
  margin: 0.625em 0;
  padding:.25;
  text-align: justify;
  word-break: break-all;
}

p:first-line {
  font-size:1.10em;
  font-variant:small-caps;
}

.portrait-details li:first-child {
  font: 200% 'Roboto', sans-serif;
  text-transform:uppercase;
  padding: 21px 0px;
  color: #fff;
}

.portrait-details li:last-child {
  border-bottom: none;
  padding-bottom: 1.5em;
}

.portrait-details li:nth-child(2) {
  color: #fff;
  letter-spacing:.5px;
  padding: 1.5em 1.9em 0.7em;
  font-weight: 700;
}

.portrait-details li a {
  color: inherit;
  cursor: pointer;
  line-height:1rem;
}

.fortunato{
  background-image: url(http://placehold.it/200x200);}
.sean{
  background-image: url(http://placehold.it/200x200);}
.chris{
  background-image: url(http://placehold.it/200x200);}


.containersocial {
  width:100%;
  display:table;
  margin:0;
}

#fortunatoTitle{
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  letter-spacing:3.5px;
  padding-bottom:18px;
  margin:-5px 0 20px;
}

#seanTitle{
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  letter-spacing:3.5px;
  padding-bottom:18px;
  margin:-5px 0 20px;
  background:transparent;
}

#chrisTitle{
  border:2px solid #fff;
  letter-spacing:3.5px;
  padding-bottom:18px;
  margin:-5px 0 20px;
}

#longName{
  margin-left: -3px;
}

.wood {
  position: absolute;
  width: 60%;
  height: 100%;
  margin-left: -385px;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
	}

nav ul {
	background: #FFF;
	background: linear-gradient(top, #FFF 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #FFF 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #FFF 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
  position: relative;
  margin-left: -340px;
}

nav ul:after {
	content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #8EA9B9;
	background: linear-gradient(top, #8EA9B9 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #8EA9B9 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #8EA9B9 0%,#5f6975 40%);
}

nav ul li:hover a {
	color: #8EA9B9;
}

nav ul li a {
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;

}

nav ul ul {
  background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
  margin-left: 30px;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}

nav ul ul li a:hover {
	background: #8EA9B9;
}

nav ul ul ul {
  position: absolute; left: 100%; top:0;
}
