body {
  background-color: #465767;
  background: rgba(70,87,103,0.9);
  background: linear-gradient(to bottom, rgba(70,87,103,0.9) 27%, rgba(128,140,151,0.9) 80%, rgba(255,255,255,1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

h1 {
  font:  400 2em/1 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 1.5em 0 0.3em;
}

nav{
  margin-top: -15px;
}

h2 {
  text-align:left;
  font: 400 0.75em/1 'Roboto', sans-serif;
  margin: 0 0 0;
  width:5%;
  color:#fff;
  padding:20px;
  border-left:4px solid rgba(255,255,255, .1);
  background:rgba(0,0,0, .5);
}

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
  margin-right: 0.3em;
}

.fontawesome-email a{
  display:inline;
  padding:0 5px;
  font-size:20px;
}

.fbook i:hover {
  color: #3b5998;
  text-decoration: none;
}

.insta i:hover {
  color: #517fa4;
  text-decoration: none;
}

.twitt i:hover {
  color: #00aced;
  text-decoration: none;
}

.lin i:hover {
  color: #007bb6;
  text-decoration: none;
}

.email i:hover {
  color: #FAAF3A;
  text-decoration: none;
}

main{
  max-width: 1020px;
  height:200px;
  margin: 0 auto;
  *zoom: 1;
  text-align: center;
  position: relative;
}

.portrait {

  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
  filter: grayscale(100%) opacity(0.7);
}

.portrait:hover {
  filter: grayscale(0) opacity(1);
  border-radius: 0;
}

.portrait-details {
  cursor: text;
  position: absolute;
  list-style-type: none;
  margin-top: 200px;
  margin-left: -.5px;
  padding: 5px;
  height: 360px;
  width:191px;
  background: rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in-out;
  border-bottom:2px solid rgba(0,200,255,.5);
}

.liTitle {
  text-transform:uppercase;
  background:rgba(0,200,255,.5);
}

@media all and (max-width: 64em) {
  .portrait-details {
    white-space: normal;
    min-width: 150px;
    opacity:0;
    visibility:hidden;
      }
 }

.portrait-details li {
  color: #fff;
  line-height:.5rem;
  padding: 0.3em 1.9em;
  font: 400 0.8em/1 'Roboto', serif;
}

.bio {
  font-size: 1.2em;
  line-height: 1.25em;
  margin: 0.625em 0;
  padding:.25;
  text-align: justify;
  word-break: break-all;
}

.bio:first-line {
  font-size:1.10em;
  font-variant:small-caps;
}

.portrait-details li:first-child {
  font: 200% 'Roboto', sans-serif;
  text-transform:uppercase;
  padding: 21px 0px;
  color: #fff;
}

.portrait-details li:last-child {
  border-bottom: none;
  padding-bottom: 1.5em;
}

.portrait-details li:nth-child(2) {
  color: #fff;
  letter-spacing:.5px;
  padding: 1.5em 1.9em 0.7em;
  font-weight: 700;
}

.portrait-details li a {
  color: inherit;
  cursor: pointer;
  line-height:1rem;
}

.containersocial {
  width:100%;
  display:table;
  margin:0;
  margin-top: 40pt;
}

.containersocial-chris {
  width:100%;
  display:table;
  margin:0;
  margin-top: 26pt;
}

.containersocial-fort {
  width:100%;
  display:table;
  margin:0;
  margin-top: 26pt;
}

#fortunatoTitle{
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  letter-spacing:3.5px;
  padding-bottom:18px;
  padding-top: 18px;
  margin:-5px 0 20px;
  font-size: 11pt;
}

#seanTitle{
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  letter-spacing:3.5px;
  padding-bottom:18px;
  padding-top: 18px;
  margin:-5px 0 20px;
  font-size: 11pt;
}

#chrisTitle{
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  letter-spacing:3.5px;
  padding-bottom:18px;
  padding-top: 18px;
  margin:-5px 0 20px;
  font-size: 11pt;
}

#longName{
  margin-left: -3px;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
	}

nav ul {
  color: inherit;
	background-color: #FFF;
	background: linear-gradient(#FFF 0%, #bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0px;
	list-style: none;
	position: relative;
	display: inline-table;
  border-radius: 30pt;
  border: 1px solid black;
}

nav ul:after {
	content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
}

nav ul li:hover {
  color:inherit;
	background: #8EA9B9;
	background: linear-gradient(#8EA9B9 0%, #5f6975 40%);
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
}

nav ul li:hover a {
  background-color: inherit;
  color: #FFF;
}

nav ul li a {
  background-color: inherit;
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;

}

nav ul ul {
  color: inherit;
  background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
  margin-left: 30px;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
  background-color: inherit;
}

nav ul ul li a:hover {
	background: #8EA9B9;
  color: inherit;
}

nav ul ul ul {
  position: absolute; left: 100%; top:0;
}

.petSearch {
    max-width: 500px;
    color: inherit;
    background: #FFF;
    background: linear-gradient(#FFF 0%, #bbbbbb 100%);
    padding: 20px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 15px;
    width: 125px;
    height: 330px;
    position:absolute;
    margin-top: 18.5pt;
    border: 1px solid black;
}

.petSearch
 fieldset {
    border: 1px solid;
}
.petSearch
 legend {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.petSearch
 label {
    display: block;
    margin-bottom: 8px;
}

.petSearch
 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    border: solid;
    border-radius: 4px;
    font-size: 16px;
    outline: 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05) inset;
    margin-bottom: 17px;

}

.petSearch
 textarea:focus,
.petSearch
 select:focus{
    background: #FFF;
    color: inherit;
}
.petSearch
 select{
    height:40px;
}
.petSearch
 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.petSearch
 input[type="submit"],
.petSearch
 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background: #1abc9c;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 3px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 12px;
}

.petSearch
 input[type="submit"]:hover,
.petSearch
 input[type="button"]:hover
{
    background: #109177;
    color: inherit;
}

.title {
  color:#D0C1A0;
  font-size:60pt;
  font-family: 'Playfair Display', serif;
  float:left;
  margin-top:-10pt;
  margin-left:15px;
  position: fixed;
}

.subtitle {
  color:#E2E0D4;
  font-size:14pt;
  float:left;
  margin-top:8pt;
  margin-left:180px;
  text-decoration: underline;
  position: fixed;
}

.seanpic {
  position: absolute;
  margin-top: -153pt;
  margin-left: -76pt;
  width: 151pt;
}

.chrispic {
  position: absolute;
  margin-top: -153pt;
  margin-left: -76pt;
  width: 151pt;
}

.fortpic {
  position: absolute;
  margin-top: -153pt;
  margin-left: -76pt;
  width: 151pt;
}
