body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
 }

.imgContainer{
  float:left;
  margin-left: 87px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
}

.image123 {
margin-left: auto;
border-radius: 100px;
}

.imgContainer:hover {
  transform: scale(1.75);
}

img{
  height: 200px;
  width: 200px;
}

.imgContainer p {
  height:100px;
  width:180px;
  overflow: hidden;
  background: rgba(0, 0, 0, .7);
  color:white;
  scrollbar-base-color:gold;
  font-family:sans-serif;padding:10px;
  font-size: 13px;
}
