.imgContainer{

  float:left;
  margin-left: 87px;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
}

.image123 {
margin-left: auto;
border-radius: 100px;
}

.imgContainer:hover {

        -webkit-transform: scale(1.50);
        -ms-transform: scale(1.50);
        transform: scale(1.50);
}

.imgContainer p {
  height:100px;
  width:180px;
  overflow:auto;
  background-color:yellowgreen;
  color:white;
  scrollbar-base-color:gold;
  font-family:sans-serif;padding:10px;
  font-size: 13px;
}
