
.imgContainer{
  float:left;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 41.75px;
  text-align: center;
}

body {

  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
 }

header {
  width: auto;
  height: auto;
}

.topnav {
  background-color: #744EB2;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left:143px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.petSearch {
  position: relative;
  margin-top: 10px;
}
