
.imgContainer{
  float:left;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 41.75px;
  text-align: center;
}

body {

  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
 }

header {
  width: auto;
  height: auto;
}

.petSearch {
  position: relative;
  margin-top: 10px;
  margin-right: 1100px;
  width: 150px;
  height: 800px;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
	}

nav ul {
	background: #FFF;
	background: linear-gradient(top, #FFF 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #FFF 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #FFF 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
  position: relative;
  margin-left: 340px;
}

nav ul:after {
	content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #8EA9B9;
	background: linear-gradient(top, #8EA9B9 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #8EA9B9 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #8EA9B9 0%,#5f6975 40%);
}

nav ul li:hover a {
	color: #8EA9B9;
}

nav ul li a {
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;

}

nav ul ul {
  background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
  margin-left: 30px;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}

nav ul ul li a:hover {
	background: #8EA9B9;
}

nav ul ul ul {
  position: absolute; left: 100%; top:0;
}

.petSearch
{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 3px;
    width: 125px;
    height: 350px;
}

.petSearch
 fieldset{
    border: none;
}
.petSearch
 legend {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.petSearch
 label {
    display: block;
    margin-bottom: 8px;
}

.petSearch
 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}

.petSearch
 textarea:focus,
.petSearch
 select:focus{
    background: #d2d9dd;
}
.petSearch
 select{
    -webkit-appearance: menulist-button;
    height:25px;
}
.petSearch
 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.petSearch
 input[type="submit"],
.petSearch
 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 15px;
}

.petSearch
 input[type="submit"]:hover,
.petSearch
 input[type="button"]:hover
{
    background: #109177;
}

.wood {
  position: absolute;
  text-align:center;
  width:60%;
  height:100%;
  display:block;
  margin-left:250px;
}
